@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">BLOGIC CRM</h1>
    <p>Vyberte agendu, kterou chcete spravovat:</p>
</div>

<div class="row mt-4">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Smlouvy</h5>
                <a asp-controller="Smlouva" asp-action="Index" class="btn btn-primary">Zobrazit seznam</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Klienti</h5>
                <a asp-controller="Klient" asp-action="Index" class="btn btn-primary">Zobrazit seznam</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Poradci</h5>
                <a asp-controller="Poradce" asp-action="Index" class="btn btn-primary">Zobrazit seznam</a>
            </div>
        </div>
    </div>
</div>
